# c2me_base
public net.minecraft.server.level.DistanceManager$PlayerTicketTracker
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.world.level.chunk.storage.IOWorker$PendingStore
public net.minecraft.world.level.chunk.storage.IOWorker$PendingStore f_63566_ # result
# c2me_fixes_chunkio_threading_issues
# c2me_fixes_general_threading_issues
public net.minecraft.server.level.ChunkMap$DistanceManager
# c2me_fixes_worldgen_threading_issues
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$SimpleGrid
public net.minecraft.world.level.levelgen.structure.structures.StrongholdPieces$StrongholdPiece
public net.minecraft.world.level.levelgen.structure.structures.OceanMonumentPieces$RoomDefinition
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$PlacementData
public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$NetherBridgePiece
public net.minecraft.world.level.levelgen.structure.structures.NetherFortressPieces$PieceWeight
public net.minecraft.world.level.levelgen.structure.structures.StrongholdPieces$PieceWeight
public net.minecraft.world.level.levelgen.structure.structures.WoodlandMansionPieces$MansionGrid
public net.minecraft.world.entity.ai.behavior.ShufflingList <init>(Ljava/util/List;)V # <init>
# c2me_opts_allocs
public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$SurfaceRule
public net.minecraft.world.level.levelgen.SurfaceRules$SequenceRule
public net.minecraft.world.level.levelgen.SurfaceRules$SequenceRule <init>(Ljava/util/List;)V # <init>
public net.minecraft.world.level.levelgen.SurfaceRules$SequenceRuleSource
public net.minecraft.nbt.CompoundTag <init>(Ljava/util/Map;)V # <init>
public net.minecraft.nbt.ListTag <init>(Ljava/util/List;B)V # <init>
public net.minecraft.nbt.NbtOps$NbtRecordBuilder
# c2me_opts_chunk_access
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.world.level.chunk.ChunkStatus$GenerationTask
# c2me_opts_chunkio
public net.minecraft.world.level.chunk.storage.IOWorker$PendingStore
# c2me_opts_scheduling
public net.minecraft.server.level.ChunkMap$DistanceManager
public-f net.minecraft.server.level.ServerChunkCache$MainThreadExecutor
public net.minecraft.server.level.ServerChunkCache$MainThreadExecutor m_6304_()Ljava/lang/Thread; # getRunningThread
# c2me_opts_worldgen_vanilla
public net.minecraft.core.BlockPos f_121862_ # X_OFFSET
public net.minecraft.core.BlockPos f_121855_ # PACKED_X_LENGTH
public net.minecraft.core.BlockPos f_121861_ # Z_OFFSET
public net.minecraft.core.BlockPos f_121856_ # PACKED_Z_LENGTH
public-f net.minecraft.world.level.levelgen.Aquifer$FluidStatus f_188400_ # fluidLevel
public-f net.minecraft.world.level.levelgen.Aquifer$FluidStatus f_188401_ # fluidType
# c2me_rewrites_chunkio
public net.minecraft.world.level.chunk.storage.RegionFileStorage <init>(Ljava/nio/file/Path;Z)V # <init>
public net.minecraft.world.level.chunk.storage.IOWorker$PendingStore
# c2me_threading_chunkio
public net.minecraft.world.level.chunk.storage.RegionFileStorage <init>(Ljava/nio/file/Path;Z)V # <init>
public net.minecraft.world.level.chunk.storage.IOWorker$PendingStore
# c2me_threading_worldgen
public net.minecraft.world.level.chunk.ChunkStatus$GenerationTask
# uncapvd
public net.minecraft.client.OptionInstance$ValueSet
